<head>
    <meta charset ="UTF-8">
    <meta name="viewport" content ="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <!--IT IS IMPERATIVE THAT YOU USE AN ABSOLUTE PATH FOR "/styles.css"
    NEVER THE RELATIVE PATH "styles.css" OTHERWISE IT WILL INTERFERE WITH YOUR ROUTE PARAMETERS-->
    <title>Blogsite</title>
    
    
</head>