<nav>
    <div class="site-title">
    <p>About the Blogsite!</p>
     <!---->
     <% var loggedIn = false %> 
     <% if(undefined ==accounts){ %>
        <% accounts = {}} %> 
     <% for (var i = 0; i< accounts.length; i++){ %>
        <% if(accounts[i].loggedIn ==true){ %>
            <% loggedIn = true}} %>   
    <% if(!loggedIn) {%>
        <h1>YOU ARE NOT LOGGED IN <%=loggedIn %></h1>
        <%        } else{%>
            <h1>YOU ARE LOGGED IN</h1>
            <% } %>  
</div>
<ul>
    
    <li><a href="/index">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Sign up</a></li>
    <li><a href="/browse">Browse</a></li>
    
</ul>
</nav>