<html lang ="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
    <div class ="about-content">
        <h2>About:</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dignissimos necessitatibus nihil minus! Voluptate quas quo modi tempora iure. Ad molestiae tenetur itaque dolor eius sunt rerum perspiciatis voluptate laudantium.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dignissimos necessitatibus nihil minus! Voluptate quas quo modi tempora iure. Ad molestiae tenetur itaque dolor eius sunt rerum perspiciatis voluptate laudantium.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dignissimos necessitatibus nihil minus! Voluptate quas quo modi tempora iure. Ad molestiae tenetur itaque dolor eius sunt rerum perspiciatis voluptate laudantium.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dignissimos necessitatibus nihil minus! Voluptate quas quo modi tempora iure. Ad molestiae tenetur itaque dolor eius sunt rerum perspiciatis voluptate laudantium.</p>
    </div>
    </body>
    <%- include('./partials/footer.ejs') %>

</html>